.lesson
  width 100%
  padding 10px 0 10px 0

  &-feature
    display inline-block

    &__date
      width 20%

    &__theme
      width 50%
      vertical-align center

    &__teacher
      width 30%

.lesson:nth-child(2n+1)
  background-color #ebebeb
