.lesson
  display flex
  align-items stretch
  width 100%
  border-bottom 1px solid rgb(210, 210, 210)

  &-feature
    padding 10px 0 10px 0

    &__date
      width 20%

    &__theme
      // vertical-align middle
      width 50%

    &__teacher
      width 30%
