.table
  width 80%
  margin 0 auto
  border 1px solid red

  &-header
    color red

    &-item
      display inline-block

      &__date
        width 20%

      &__theme
        width 50%

      &__teacher
        width 30%
